<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588622379111-kogekd46lusi0nd9nrvc9prdbbu3lb0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588622379111-kogekd46lusi0nd9nrvc9prdbbu3lb0u</string>
	<key>API_KEY</key>
	<string>AIzaSyDV8xVLJXtA8aUDxaBDxXYWIAwz6SmPBB4</string>
	<key>GCM_SENDER_ID</key>
	<string>588622379111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HouseHub.HouseHub</string>
	<key>PROJECT_ID</key>
	<string>househub-a961b</string>
	<key>STORAGE_BUCKET</key>
	<string>househub-a961b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588622379111:ios:d187734accab710965fcc2</string>
	<key>DATABASE_URL</key>
	<string>https://househub-a961b.firebaseio.com</string>
</dict>
</plist>