.DS_Store
House Hub.xcworkspace/xcuserdata/rowenbanton.xcuserdatad/UserInterfaceState.xcuserstate
House Hub.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/rowenbanton.xcuserdatad/xcschemes/xcschememanagement.plist
House Hub.xcodeproj/xcuserdata/rowenbanton.xcuserdatad/
House Hub.xcworkspace/xcuserdata/rowenbanton.xcuserdatad/xcdebugger/